<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- 是用来描述数据库的连接 -->
	<session-factory>
		<property name="connection.driver_class"> com.mysql.jdbc.Driver </property>
		<property name="connection.url">jdbc:mysql://localhost:3306/dbo_fuwei?useUnicode=true&amp;characterEncoding=UTF-8
	</property>
	<property name="connection.username">root</property>
	<property name="connection.password">123456</property>
	<property name="hbm2ddl.auto">update</property>
	<property name="connection.useUnicode">true</property>
	<property name="connection.characterEncoding">utf8</property>
	<property name="show_sql">true</property>
	<!-- 配置c3p0连接池(解决MySQL空闲8小时自动断开问题)-->    
	<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>  
	<property name="hibernate.c3p0.acquireIncrement">2</property>  
	<property name="hibernate.c3p0.checkoutTimeout">3000</property>    
	<property name="hibernate.c3p0.idleConnectionTestPeriod">2000</property>  
	<property name="hibernate.c3p0.maxIdleTime">4000</property>  
	<property name="hibernate.c3p0.maxPoolSize">20</property>  
	<property name="hibernate.c3p0.minPoolSize">5</property>  
	<property name="hibernate.c3p0.maxStatements">0</property> 
	<property name="hibernate.c3p0.time_out">1800</property> 
          
	<property name="hibernate.c3p0.validate">true</property>  
	<property name="hibernate.c3p0.testConnectionOnCheckout">true</property>  
	<!-- 指定数据库方言 -->
	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
	<mapping class="com.fuwei.entity.Role"/>
	<mapping class="com.fuwei.entity.FWUser"/>
	<mapping class="com.fuwei.entity.Sample"/>
	<mapping class="com.fuwei.entity.CompanyPrice"/>
	<mapping class="com.fuwei.entity.Company"/>
	<mapping class="com.fuwei.entity.Developer"/>
	<mapping class="com.fuwei.entity.CompanySalesMan"/>
	<mapping class="com.fuwei.entity.Quotation"/>
	<mapping class="com.fuwei.entity.QuotationList"/>
	<mapping class="com.fuwei.entity.GongXu"/>
	<mapping class="com.fuwei.entity.UnPricedSample"/>
	
	<mapping class="com.fuwei.entity.FWOrder"/>
	<mapping class="com.fuwei.entity.SamplePrice"/>
	<mapping class="com.fuwei.entity.OrderStatus"/>
	
	<mapping class="com.fuwei.entity.Module"/>
	<mapping class="com.fuwei.entity.Role_Module"/>
</session-factory>
</hibernate-configuration>